<html xmlns:th="http://www.thymeleaf.org">
	<div th:include="header:: header"></div>
	<body style="padding:80px;">
		<div class="row">
			<div class="well col-md-12">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-3">
						<a class="btn btn-primary">
							<i class="fa fa-refresh"></i> 
							<span>活动列表</span>
						</a>
					</div>
					<div class="col-md-4"></div>
					<div class="col-md-1">
						<a class="btn btn-primary">
							<i class="fa fa-clock-o"></i> 
							<span id="time"></span>
						</a>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
			  <div class="col-md-6">
				<div class="panel panel-primary">
				  <div class="panel-heading">
					<h3 class="panel-title">活动一></h3>
				  </div>
				  <div class="panel-body">
					<span class="label label-info">活动简介</span>
					EFC主要面向外国语学院学生，为了更好地满足同学们学习外语的要求，营造良好的学习环境，EFC于每周四晚七点在北校区礼堂对全院学生免费播放英语电影。
					影片由外教及EFC助理共同挑选。播放的影片基本上能满足各层次英语学习者的要求，使同学们能够在轻松的环境下掌握更多地道的英语和良好的异国文化的熏陶。
					EFC自以往几届外教创办，一直延续至今，始终坚持播放精彩、好看、健康的电影，同时在电影开始前还有帮助同学们更好理解电影的游戏互动，以此测试同学们在游戏中学到有用的知识，测试优秀者还会有小奖品。EFC深受广大同学们的喜爱。</br>
					<span class="label label-primary">活动时间</span>
					2018.12.11 ~ 2018.12.30
				  </div>
				</div>
			  </div>
			  <div class="col-md-6">
				<div class="panel panel-primary">
				  <div class="panel-heading">
					<h3 class="panel-title">活动二</h3>
				  </div>
				  <div class="panel-body">
					<span class="label label-info">活动简介</span>
					EFC主要面向外国语学院学生，为了更好地满足同学们学习外语的要求，营造良好的学习环境，EFC于每周四晚七点在北校区礼堂对全院学生免费播放英语电影。
					影片由外教及EFC助理共同挑选。播放的影片基本上能满足各层次英语学习者的要求，使同学们能够在轻松的环境下掌握更多地道的英语和良好的异国文化的熏陶。
					EFC自以往几届外教创办，一直延续至今，始终坚持播放精彩、好看、健康的电影，同时在电影开始前还有帮助同学们更好理解电影的游戏互动，以此测试同学们在游戏中学到有用的知识，测试优秀者还会有小奖品。EFC深受广大同学们的喜爱。</br>
					<span class="label label-primary">活动时间</span>
					2018.12.11 ~ 2018.12.30
				</div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-6">
				<div class="panel panel-primary">
				  <div class="panel-heading">
					<h3 class="panel-title">活动一</h3>
				  </div>
				  <div class="panel-body">
					<span class="label label-info">活动简介</span>
					EFC主要面向外国语学院学生，为了更好地满足同学们学习外语的要求，营造良好的学习环境，EFC于每周四晚七点在北校区礼堂对全院学生免费播放英语电影。
					影片由外教及EFC助理共同挑选。播放的影片基本上能满足各层次英语学习者的要求，使同学们能够在轻松的环境下掌握更多地道的英语和良好的异国文化的熏陶。
					EFC自以往几届外教创办，一直延续至今，始终坚持播放精彩、好看、健康的电影，同时在电影开始前还有帮助同学们更好理解电影的游戏互动，以此测试同学们在游戏中学到有用的知识，测试优秀者还会有小奖品。EFC深受广大同学们的喜爱。</br>
					<span class="label label-primary">活动时间</span>
					2018.12.11 ~ 2018.12.30
				  </div>
				
				</div>
			  </div>
			  <div class="col-md-6">
				<div class="panel panel-primary">
				  <div class="panel-heading">
					<h3 class="panel-title">活动二</h3>
				  </div>
				  <div class="panel-body">
					<span class="label label-info">活动简介</span>
					EFC主要面向外国语学院学生，为了更好地满足同学们学习外语的要求，营造良好的学习环境，EFC于每周四晚七点在北校区礼堂对全院学生免费播放英语电影。
					影片由外教及EFC助理共同挑选。播放的影片基本上能满足各层次英语学习者的要求，使同学们能够在轻松的环境下掌握更多地道的英语和良好的异国文化的熏陶。
					EFC自以往几届外教创办，一直延续至今，始终坚持播放精彩、好看、健康的电影，同时在电影开始前还有帮助同学们更好理解电影的游戏互动，以此测试同学们在游戏中学到有用的知识，测试优秀者还会有小奖品。EFC深受广大同学们的喜爱。</br>
					<span class="label label-primary">活动时间</span>
					2018.12.11 ~ 2018.12.30
				  </div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-6">
				<div class="panel panel-primary">
				  <div class="panel-heading">
					<h3 class="panel-title">活动一</h3>
				  </div>
				  <div class="panel-body">
					<span class="label label-info">活动简介</span>
					EFC主要面向外国语学院学生，为了更好地满足同学们学习外语的要求，营造良好的学习环境，EFC于每周四晚七点在北校区礼堂对全院学生免费播放英语电影。
					影片由外教及EFC助理共同挑选。播放的影片基本上能满足各层次英语学习者的要求，使同学们能够在轻松的环境下掌握更多地道的英语和良好的异国文化的熏陶。
					EFC自以往几届外教创办，一直延续至今，始终坚持播放精彩、好看、健康的电影，同时在电影开始前还有帮助同学们更好理解电影的游戏互动，以此测试同学们在游戏中学到有用的知识，测试优秀者还会有小奖品。EFC深受广大同学们的喜爱。</br>
					<span class="label label-primary">活动时间</span>
					2018.12.11 ~ 2018.12.30
				  </div>
				</div>
			  </div>
			  <div class="col-md-6">
				<div class="panel panel-primary">
				  <div class="panel-heading">
					<h3 class="panel-title">活动二</h3>
				  </div>
				  <div class="panel-body">
					<span class="label label-info">活动简介</span>
					EFC主要面向外国语学院学生，为了更好地满足同学们学习外语的要求，营造良好的学习环境，EFC于每周四晚七点在北校区礼堂对全院学生免费播放英语电影。
					影片由外教及EFC助理共同挑选。播放的影片基本上能满足各层次英语学习者的要求，使同学们能够在轻松的环境下掌握更多地道的英语和良好的异国文化的熏陶。
					EFC自以往几届外教创办，一直延续至今，始终坚持播放精彩、好看、健康的电影，同时在电影开始前还有帮助同学们更好理解电影的游戏互动，以此测试同学们在游戏中学到有用的知识，测试优秀者还会有小奖品。EFC深受广大同学们的喜爱。</br>
					<span class="label label-primary">活动时间</span>
					2018.12.11 ~ 2018.12.30
				  </div>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-6">
				<div class="panel panel-primary">
				  <div class="panel-heading">
					<h3 class="panel-title">活动一</h3>
				  </div>
				  <div class="panel-body">
					<span class="label label-info">活动简介</span>
					EFC主要面向外国语学院学生，为了更好地满足同学们学习外语的要求，营造良好的学习环境，EFC于每周四晚七点在北校区礼堂对全院学生免费播放英语电影。
					影片由外教及EFC助理共同挑选。播放的影片基本上能满足各层次英语学习者的要求，使同学们能够在轻松的环境下掌握更多地道的英语和良好的异国文化的熏陶。
					EFC自以往几届外教创办，一直延续至今，始终坚持播放精彩、好看、健康的电影，同时在电影开始前还有帮助同学们更好理解电影的游戏互动，以此测试同学们在游戏中学到有用的知识，测试优秀者还会有小奖品。EFC深受广大同学们的喜爱。</br>
					<span class="label label-primary">活动时间</span>
					2018.12.11 ~ 2018.12.30
				  </div>
				</div>
			  </div>
			  <div class="col-md-6">
				<div class="panel panel-primary">
				  <div class="panel-heading">
					<h3 class="panel-title">活动二</h3>
				  </div>
				  <div class="panel-body">
					<span class="label label-info">活动简介</span>
					EFC主要面向外国语学院学生，为了更好地满足同学们学习外语的要求，营造良好的学习环境，EFC于每周四晚七点在北校区礼堂对全院学生免费播放英语电影。
					影片由外教及EFC助理共同挑选。播放的影片基本上能满足各层次英语学习者的要求，使同学们能够在轻松的环境下掌握更多地道的英语和良好的异国文化的熏陶。
					EFC自以往几届外教创办，一直延续至今，始终坚持播放精彩、好看、健康的电影，同时在电影开始前还有帮助同学们更好理解电影的游戏互动，以此测试同学们在游戏中学到有用的知识，测试优秀者还会有小奖品。EFC深受广大同学们的喜爱。</br>
					<span class="label label-primary">活动时间</span>
					2018.12.11 ~ 2018.12.30
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</body>
</html>