<html xmlns:th="http://www.thymeleaf.org">
<div th:include="header:: header"></div>
<body style="padding:80px;">
	<div class="container">

		<div class="well">
			<div class="row">
				<div class="col-md-3">
					<div id="treeview" class=""></div>
				</div>
				<div class="col-md-9">
					<form id="menuForm" class="form-horizontal" action="/menu/insert" method="post">
						<input type="hidden" id="id" name="id" value="" />
						<input type="hidden" id="level" name="level" value="" />
						<fieldset>
							<legend>菜单详情</legend>
							<div class="row">
								<div class="col-md-10"></div>
								<div class="col-md-2">
									<input  type="button" class="btn-sm btn-primary" value="添加" onclick="insert()"/>
									<input  type="button" class="btn-sm btn-primary" value="删除" onclick="delInit()"/>
								</div>
							</div>
							<div class="form-group" style="display:none;" id="inputparent">
								<label for="inputparent" class="col-lg-2 control-label">父级菜单</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" id="parentText" value="" readonly />
									<input type="hidden" id="parentId" name="parentId" value="" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail" class="col-lg-2 control-label">菜单名称</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" id="text" name="text">
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword" class="col-lg-2 control-label">菜单链接</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" id="href" name="href">
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword" class="col-lg-2 control-label">排序编号</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" id="sortNo" name="sortNo">
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<div class="row">
										<div class="col-md-3"></div>
										<div class="col-md-2">
											<input id="del" type="button" class="btn btn-default" onclick="location.reload();" value="取消" />
										</div>
										<div class="col-md-7">
											<input id="sav" type="button" class="btn btn-primary" onclick="update()"  value="保存" />
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</from>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
		/* =================  展示菜单  ==============*/
		$(function() {
			var userId = "";
			/*获取UserId*/
			$.ajax({
	            type: "GET",
	            url: "/user/loginUserInfo",
	            dataType: "json",
	            async: false,
	            success: function(data){
	            	userId = data.id;
	            }
			});
			/*获取菜单列表树*/
			$.ajax({
	            type: "GET",
	            url: "/menu/loadMenuTree/" + userId,
	            dataType: "json",
	            success: function(data){
	            	var $tree = $('#treeview').treeview({
	    				data: data,
	    				showIcon: true,
	    				//showCheckbox: true,
	    				showTags: true,
	    				//onNodeChecked: function(event, node) {
	    					//layer.alert(node.id+"--"+node.url, {icon: 6});
	    				//},
	    				//onNodeUnchecked: function (event, node) {
	    					//$('#checkable-output').prepend('<p>' + node.text + ' was unchecked</p>');
	    				//},
	    				onNodeSelected: function(event, node) {
	    					showNode(node);
	    				}
	    			});
	    			var sel = $('#treeview').treeview('getSelected');
	    			showNode(sel[0]);
	            },
	            error: function(){
	            	layer.alert('加载菜单树失败，请联系管理员', {icon: 5});
	            }
	       });
		});
		function showNode(node){
			$("#id").val('');$("#id").val(node.id);
			$("#text").val('');$("#text").val(node.text);
			$("#href").val('');$("#href").val(node.href);
			$("#sortNo").val('');$("#sortNo").val(node.tags);
			var parent = $('#treeview').treeview('getParent', node);
			$("#parentId").val('');
			if(parent != null && parent != undefined){
				$("#parentId").val(parent.id);
			}
			$("#level").val('');$("#level").val(parseInt(node.level));
		}
		
		/* =================  新增菜单  ==============*/
		function insert(){
			var sel = $('#treeview').treeview('getSelected');
			$("#parentId").val('');$("#parentId").val(sel[0].id);
			$("#level").val('');$("#level").val(parseInt(sel[0].level)+1);
			$("#inputparent").attr("style","display:block;");
			$("#parentText").val('');$("#parentText").val(sel[0].text);
			$("#text").val('');
			$("#href").val('');
			$("#sortNo").val('');
			$("#sav").removeAttr("onclick");
			$("#sav").attr("onclick","submit();");
		}
		function submit(){
			var text = $("#text").val();
			var href = $("#href").val();
			var sortNo = $("#sortNo").val();
			if(text == "" || text == null || text != undefined){
				layer.alert('请输入正确的菜单名称.', {icon: 5});
			}
			else if(href == "" || href == null || href != undefined){
				layer.alert('请输入正确的菜单链接.', {icon: 5});
			}
			else if(sortNo == "" || sortNo == null || sortNo != undefined){
				layer.alert('请输入正确的排序编号.', {icon: 5});
			}
			else{
				$("#menuForm").submit();
			}
		}
		
		/* =================  删除菜单  ==============*/
		function delInit(){
			var menuId = $("#id").val();
			var menuText = $("#text").val();
			del(menuId, menuText);
		}
		
		function del(menuId, menuText){
			layer.confirm('确认删除【'+ menuText +'】菜单？子菜单也会随之删除，且删除后不可恢复.', {
				skin: 'layui-layer-lan',
				btn: ['确认','取消']
			}, function(){
				$.ajax({
		            type: "GET",
		            url: "/menu/delete/" + menuId,
		            dataType: "json",
		            success: function(data){
		            	if(data.code == "SUCCESS"){
		            		layer.alert('删除成功', {icon: 6});
		            	}
		            	else{
		            		layer.alert('删除失败, ' + data.message, {icon: 6});
		            	}
		            },
		            error: function(){
		            	layer.alert('删除菜单失败，请联系管理员', {icon: 5});
		            }
		       });
			});
		}
		
		/* =================  修改菜单  ==============*/
		function update(){
			layer.confirm('确认修改?', {
				skin: 'layui-layer-lan',
				btn: ['确认','取消']
			}, function(){
				var newUrl = '/menu/update';
				$("#menuForm").attr('action',newUrl);
				$("#menuForm").submit();
			});
		}
	</script>
</html>